h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p.caption {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1.78px
}

body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    background: #fff;
}

/* Use white for docs background */
.wy-side-nav-search {
    background-color: #fff;
}

.wy-nav-shift {
    background-color: #f3f4f7;
}
.wy-nav-side {
	background-color: #f3f4f7;
}

.wy-nav-content {
    max-width: 900px;
}

.wy-nav-content-wrap, .wy-menu li.current > a  {
    background-color: #fff;
}

a {
    color: #B91444;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #B91444;
}

@media screen and (min-width: 1100px) {
	.wy-nav-content-wrap {
        background-color: #fff;
    }
    .wy-nav-side {
    	background-color: #f3f4f7;
	}
    .wy-nav-content {
        background: #fff;
    }
}

@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
        background-color: #fff;
    }
    .wy-nav-side {
    	background-color: #f3f4f7;
	}
    .wy-nav-content {
        background: #fff;
    }
}

/* Fixes for mobile */
.wy-nav-top {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0.4045em 0.809em;
    color: #333;
}

.wy-nav-top > a {
    display: none;
}

@media screen and (max-width: 768px) {
    .wy-side-nav-search>a img.logo {
        height: 60px;
    }
}

/* This is needed to ensure that logo above search scales properly */
.wy-side-nav-search a {
    display: block;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    color: #B91444;
}

/* This ensures that multiple constructors will remain in separate lines. */
.rst-content dl:not(.docutils) dt {
    display: block;
    color: #797A7B;
    border-top: 0px;
    background: #f0f0f0;
}

.rst-content dl:not(.docutils) {
/*    display: table;
    color: #B91444;*/
    border-top: solid 3px #B91444;
}

.rst-content dl:not(.docutils) dl dt {
    border-left: 0px;
}

.rst-content .viewcode-link, .rst-content .viewcode-back {
    color: #B91444;
}

/* Use our red for literals (it's very similar to the original color) */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #B91444;
}

.rst-content tt.xref, a .rst-content tt, .rst-content tt.xref,
.rst-content code.xref, a .rst-content tt, a .rst-content code {
    color: #404040;
}

/* Change link colors (except for the menu) */

a {
    color: #900C30;
}

a:hover {
    color: #900C30;
}


a:visited {
    color: #780a35;
}

.wy-menu a {
    color: #b3b3b3;
}

.wy-menu a:hover {
    color: #b3b3b3;
}

/* Default footer text is quite big */
footer {
    font-size: 80%;
}

footer .rst-footer-buttons {
    font-size: 125%; /* revert footer settings - 1/80% = 125% */
}

footer p {
    font-size: 100%;
}

/* For hidden headers that appear in TOC tree */
/* see http://stackoverflow.com/a/32363545/3343043 */
.rst-content .hidden-section {
    display: none;
}

nav .hidden-section {
    display: inherit;
}

.wy-side-nav-search>div.version {
    color: #000;
}

/* Version control */

.version-button {
    color: #900C30;
    border: none;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.version-button:hover, .version-button:focus {
    background-color: #ab6578;
    color: #ffffff;
}

.version-dropdown {
    display: none;
    min-width: 160px;
    overflow: auto;
    font-size: 15px;
}

.version-dropdown a {
    color: #900C30;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
}

.version-dropdown a:hover {
    background-color: #ab6578;
    color: #ffffff;
}

.version-show {
    display: block;
}
